---
layout: default
title: Gabriel Deza
---
{% include site-header.html %}

<main>
  <article class="wrapper">
    <div class="intro no-headshot">
      <div class="left"></div>

      <div class="center">
        {{ site.data.profile.intro_html }}
      </div>

      <div class="right">
        {{ site.data.profile.intro_html }}
      </div>
    </div>

    <h2 style="margin: 1.3em 0 .8em 0">Publications</h2>
    <p>
      Here are my current publications. You can also find the same list in my <a href="{{ site.data.profile.cv_url | relative_url }}" target="_blank">CV</a>.
    </p>

    <ul class="collection">
      {% for publication in site.data.publications %}
        {% include publication-card.html publication=publication %}
      {% endfor %}
    </ul>
  </article>
</main>

<footer class="wrapper"></footer>
