<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description | escape }}">
    <meta name="author" content="{{ site.data.profile.name }}">
    <meta name="keywords" content="{{ site.data.profile.name }}, academic website">
    <meta name="robots" content="index,follow">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="canonical" href="{{ page.url | absolute_url }}">
    <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
    <script>
      function unhide(divID) {
        var item = document.getElementById(divID);
        if (item) {
          item.className = (item.className === "hidden") ? "unhidden" : "hidden";
        }
      }
    </script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
